.table_price {
  border-collapse: collapse;
  border-left: 3px solid #F79361;
  border-right: 3px solid #F79361;
  border-bottom: 3px solid #F79361;
  font-family: "Lucida Grande", sans-serif;
  width: 50%;
 }
.table_price caption {
  background: #F79361; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.table_price h1{
	 font-size: 32px;
	 padding-bottom: 1px;
	  margin-bottom: 1px;
}
.table_price td, .table_price th {
  padding: 10px;
}
.table_price th {
  text-align: left;
  font-size: 18px;
}
.table_price tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price td:last-of-type {
  text-align: center;
}
.table_price button {
  display: inline-block;
  padding: 5px 10px;
  background: #F79361;
  cursor: pointer;
  box-shadow: 2px 2px 0 0 #a22800;
  position: relative;
}
.table_price button:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}
.table_price button#add {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background: #f4511e; 
  box-shadow: 0 4px #999;
  border-radius: 12px;
  border: none;
  position: relative;
}
.table_price button#add:hover{
	background-color: #F79361;
	top: 0px;
    left: 0px;
}
.table_price button#add:active{
	background-color: red;
    box-shadow: 0 2px #665;
    transform: translateY(2px);
    border: none;
}

.table_price a {
  cursor: pointer;
}

.table_price span {
  color: red;
  font-size: 24px;
}


.move{
  float: left;
  border-radius: 12px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.move span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.move span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 70px;
  transition: 0.5s;
}

.move:hover span {
  padding-left: 15px;
}

.move:hover span:after {
  opacity: 1;
  left: 0px;
}
.move#forward{
  float: right;
}
.move#forward span:after {
  content: '\00bb';
  right: 0px;
  left: 70px;
}

.move#forward:hover span {
  padding-right: 50px;
  padding-left: 0px;
}

.move#forward:hover span:after {
  right: 0;
  left: 45px;
}

.disabled{
  float: right;
  border-radius: 12px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  opacity: 0.6;
  cursor: not-allowed;
}
.disabled span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  opacity: 0.6;
  cursor: not-allowed;
}

* {
   box-sizing: border-box;
}

.decor {
   display: none;
   position: fixed;
   top: 300px;
   left: 300px;
   max-width: 400px;
   background: white;
   border-radius: 30px;
   border: 3px solid #F79361;
}

.form-inner {
   padding: 20px;
}

.form-inner input#item_name{
   width: 65%;
   margin-top: 10px;
}

.form-inner input#price{
   width: 25%;
}

.form-inner select#categories{
   width: 50%;
   padding: 10px;
   color: #000000;
}

.form-inner select#days{
   width: 25%;
   margin-left: 15%;
   padding: 10px;
   color: #000000;
}

.form-inner input, select {
   display: inline-block;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
   display: block;
   margin-top: 10px;
   background: #f69a73;
   border-bottom: 4px solid #d87d56;
   color: white;
   font-size: 14px;
   width: 120px;
   margin-left: 30%;
}

.form-inner h3 {
   display: inline;
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
   
}

.form-inner button {
   background: #f69a73;
   border: 2px solid #d87d56;
   border-radius: 10px;
   float: right;
   color: #f4511e;
}

.table_category{
	float: right;
	display: inline;
}

.main_table{
	position: relative;
    left: 0px;
    top: 0px;
	width: 600px;
	display: inline-block;
	border-right: 2px dotted #F79361;
}

.secondary_table{
	padding-top: 20px;
	position: absolute;
    left: 650px;
    top: 0px;
	width: 500px;
	height: 600px;
	display: inline-block;
}

#canvas {
	margin-top: 1px;
    border: 2px solid #F79361;
}